# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
Adversary*Simulation*Field*Manual/.obsidian/*

# OR only to exclude workspace cache
Adversary*Simulation*Field*Manual/workspace/*

# Exclude plugins
Adversary*Simulation*Field*Manual/.obsidian/plugins/*

# Exclude trash
Adversary*Simulation*Field*Manual/.trash/*
