# to exclude Obsidian workspace settings (including plugin and hotkey configurations)
vault/.obsidian/*

# OR only to exclude workspace cache
vault/.obsidian/workspace/*

# Exclude plugins
vault/.obsidian/plugins/*

# Exclude trash
vault/.trash/*
